@mixin font($font-family, $font-size, $font-weight, $font-style) {
	font-family: $font-family;
	font-size  : $font-size;
	font-weight: $font-weight;
	font-style : $font-style;
}

@mixin flex($flex-direction, $justify-content, $align-items, $wrap: nowrap) {
	display        : flex;
	flex-direction : $flex-direction;
	justify-content: $justify-content;
	align-items    : $align-items;
	flex-wrap      : $wrap;
}

@mixin placeholder($color) {
	@include font(Merriweather, 14px, 400, normal);

	&::-webkit-input-placeholder {
		color: $color
	}

	&:-moz-placeholder {
		color: $color
	}

	&::-moz-placeholder {
		color: $color
	}

	&:-ms-input-placeholder {
		color: $color
	}
}